<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/output.css">
  <link rel="stylesheet" href="css/index.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  
  <title>Books</title>
</head>
<body>
    <div class=" overflow-x-hidden">
      <div class="sidebar">
        <div class="logo-details">
          <box-icon type='logo' color="white" name='deezer'></box-icon>
            <div class="logo_name mx-2">DoodleRam</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
              <i class='bx bx-search' ></i>
            <input type="search" placeholder="Search...">
            <span class="tooltip">Search</span>
          </li>
          <!-- <li>
            <a href="#">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
          </li> -->
          <li>
          <a href="/login">
            <i class='bx bx-user' ></i>
            <span class="links_name">Admin</span>
          </a>
          <span class="tooltip">Admin</span>
        </li>
        <li>
          <a href="#books">
            <i class='bx bx-book-content' ></i>
            <span class="links_name">Books</span>
          </a>
          <span class="tooltip">Books</span>
        </li>
        <li>
          <a href="#songs">
            <i class='bx bxs-music' ></i>
            <span class="links_name">songs</span>
          </a>
          <span class="tooltip">Songs</span>
        </li>
        </ul>
      </div>

      <section class="home-section">
        <div class="hidden md:block m-5 px-20 absolute z-10 sm:flex items-center bg-transparent w-full">
          <header class="text-gray-100 body-font w-full">
            <div class="container mx-auto md:flex md:justify-between p-5 items-center">
              <a href="/" class="flex title-font font-medium items-center text-gray-100 mb-4 md:mb-0">
                <span class="ml-3 text-3xl">DoodleRam</span>
              </a>
              <!-- <nav class="md:ml-auto flex flex-wrap items-center text-base">
                <a href="./pages/artiste_authors.html" class="hidden md:block text-2xl font-bold mr-5 hover:text-gray-900">Artiste</a>
                <a href="./pages/artiste_authors.html" class="hidden md:block text-2xl font-bold mr-5 hover:text-gray-900">Authors</a>
              </nav> -->
            </div>
          </header>
        </div>

        <div class="slider">
          <!-- fade css -->
          <div class="myslide fade">
            <div class="txt">
              <h3 class="sm:hidden text-3xl font-semibold text-white">Check this out</h3>
              <p class="hidden sm:block">Get Started<br>Get amazing tunes and books right here for free</p>
            </div>
            <img class="zoomin" src="img/music4.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="slider-Img">
          </div>
          
          <div class="myslide fade">
            <div class="txt">
              <h3 class="sm:hidden text-3xl font-semibold text-white">Check this out</h3>
              <p class="hidden sm:block">Get Started<br>Get amazing tunes and books right here for free</p>
            </div>
            <img class="zoomin" src="img/music1.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="slider-Img">
          </div>
          
          <div class="myslide fade">
            <div class="txt">
              <p class="text-gray-400">Get Started<br>Get amazing tunes and books right here for free</p>
            </div>
            <img class="zoomin" src="img/music4.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="slider-Img">
          </div>
          
          <div class="myslide fade">
            <div class="txt">
              <h3 class="sm:hidden text-3xl font-semibold text-white">Check this out</h3>
              <p class="hidden sm:block">Get Started<br>Get amazing tunes and books right here for free</p>
            </div>
            <img class="zoomin" src="img/music4.jpg" style="width: 100%; height: 100%; object-fit: cover; background: linear-gradient(
              rgba(30, 56, 133, 0.438), 
              rgba(33, 12, 59, 0.466)
              );" alt="slider-Img">
          </div>
          
          <div class="myslide fade">
            <div class="txt">
              <h3 class="sm:hidden text-3xl font-semibold text-white">Check this out</h3>
              <p class="hidden sm:block">Get Started<br>Get amazing tunes and books right here for free</p>
            </div>
            <img class="zoomin" src="img/music1.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="slider-Img">
          </div>
          <!-- /fade css -->
          
          <!-- onclick js -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          
          <div class="dotsbox" style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
          </div>
          <!-- /onclick js -->
        </div>

        <div class="absolute after-slider bg-gray-100 h-auto w-full">
          <div class="flex justify-center">
            <input type="search" id="artists" placeholder="search doodleRam..." name="artists" class="w-4/5 mt-10 shadow-md bg-white rounded border border-gray-500 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div> 
          <div id="books" class="mt-10 mx-28">
            <a class="text-xl text-gray-600">Books</a>
          </div>
          <div class="flex justify-center mx-auto w-10/12 bg-gray-300 h-0.5 shadow-sm"></div>

          <div class="flex flex-wrap">
            <% pdfList.forEach((item)=>{ %>
            <div class="w-full lg:w-1/3 sm:w-1/2 border-2 border-gray-200 mx-5 sm:mx-16 h-96 md:h-96 m-5 hover:border-gray-600 transition duration-150 ease-in-out book-grid">
              <div class="h-full space-y-2">
                <div class="h-2/3 object-cover" style="background-image: url('<%=item.thumbnail%>'); background-size: cover; background-position: center;">
                </div>
                <div class="mx-2">
                  <p class=" font-bold text-xl text-gray-800"><%=item.title%></p>
                  <p class="text-gray-800"><%=item.snippet.substring(0,50)+" ..."%></p>
                  <a href="/selected_book?id=<%=item._id%>"><button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Read more</button></a>
                </div>
              </div>
              
            </div>
            <% }) %>
            
          </div> 
          <div id="songs" class="mt-56 mx-5 md:mx-24 lg:mx-28">
            <a class="text-xl text-gray-600">Music</a>
          </div>
          <div class="flex justify-center mx-auto w-10/12 bg-gray-300 h-0.5 shadow-sm"></div>
          <div class="my-10 mx-1 md:mx-16 lg:mx-32 ">
            <% audioList.forEach((item)=>{ %>
            <div class="mt-3 bg-blue-800 flex flex-wrap my-5 h-auto md:h-auto px-2 hover:shadow-md hover:scale-105 transition-all duration-500 rounded-md">
              <div>
                <a href="/selected?id=<%=item._id%>" class="thumbnail text-center mt-1.5 hover:scale-105 hover:w-8">
                  <img src="<%=item.thumbnail%>" class=" text-center mt-2 mb-2 h-20 object-cover">
                </a>
              </div>
              <div class="mt-auto mx-3 ">
                <a href="./selected.html">
                  <p class="text-gray-200 font-semibold"><%=item.title%></p>
                  <p class="text-gray-200 font-semibold">artiste: <span class="text-gray-200"><%=item.artiste%></span></p>
                </a>
              </div>
              <div class="audio-box mt-auto mb-3">
                <a href="./selected.html" class="">
                  <audio preload="none" class="mt-3" controls>
                    <source class="" src="<%=item.name%>" type="audio/mp3">
                  </audio>
                </a>
              </div>
              <div class="ml-auto mt-auto mr-2">
                <a href="./selected.html" class="text-gray-200 text-lg font-bold mx-2 hover:underline text-center">Download<i class='mx-3 text-xl bx bxs-download'></i></a>
              </div>              
            </div>
            <% }) %>
          </div>
          
          <footer class="text-gray-600 body-font mt-40 bg-white">
            <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
              <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
                <a href="/" class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                  <span class="ml-3 text-xl">DoodleRam</span>
                </a>
                <p class="mt-2 text-sm mx-6 text-gray-500">Get amazing tunes and books here on DoodleRam</p>
              </div>
              <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
                <div class="lg:w-1/2 md:w-1/2 w-full px-4">
                  <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">QUICK LINKS</h2>
                  <nav class="list-none mb-10 space-y-5">
                    <li>
                      <a href="/" class="text-gray-600 hover:text-gray-800">Home</a>
                    </li>
                    <li>
                      <a href="/books" class="text-gray-600 hover:text-gray-800">Books</a>
                    </li>
                    <li>
                      <a href="#songs" class="text-gray-600 hover:text-gray-800">Songs</a>
                    </li>
                  </nav>
                </div>
                <div class="lg:w-1/2 md:w-1/2 w-full px-4">
                  <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">MORE LINKS</h2>
                  <nav class="list-none mb-10 space-y-5">
                    <li>
                      <a href="/login" class="text-gray-600 hover:text-gray-800">Amin</a>
                    </li>
                  </nav>
                </div>
              </div>
            </div>
            <div class="bg-gray-100">
              <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-500 text-sm text-center sm:text-left">© 2022 De-General —
                  <a href="https://twitter.com/thats_nkay?s=09" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@De-General</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                  <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                  </a>
                  <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                  </a>
                  <a class="ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                  </a>
                  <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                      <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                      <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                  </a>
                </span>
              </div>
            </div>
          </footer>
        </div>
      </section>
    </div>
</body>
<script src="js/jsfile.js"></script>
<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</html>