<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/styles.css">
      <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <title>DoodleRam Audio</title>
</head>
<body>
    <div class=" overflow-hidden">
      <%- include('partials/sidebar'); -%>
        <section class="home-section">
          <div class="hidden md:block m-5 px-20 absolute z-10 sm:flex items-center bg-transparent w-full">
            <header class="text-gray-100 body-font w-full">
              <div class="container mx-auto md:flex md:justify-between p-5 items-center">
                <a href="/" class="flex title-font font-medium items-center text-gray-100 mb-4 md:mb-0">
                  <span class="ml-3 text-3xl">DoodleRam</span>
                </a>
              </div>
            </header>
          </div>
            <div class="relative sm:px-20 sm:pt-16 px-4 pt-0 pb-16 h-auto w-full object-cover" style="background-image: linear-gradient(
                rgba(4, 25, 88, 0.603), 
                rgba(20, 6, 143, 0.596)
                ), url('/img/music2.jpg'); background-position: center;">
                <div class="flex flex-col justify-center items-center text-center py-3 sm:py-5 md:py-10">
                    <div class="w-2/3 pt-8 text-gray-100" > 
                        <p class="text-4xl hidden sm:block"><i class='bx bxl-deezer mx-2' ></i><%=singleAudio.title %></p>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap m-2 h-auto lg:h-full">
                <div class="bg-gray-200 w-full md:w-1/2 h-2/3">
                    <img src="<%=singleAudio.thumbnail %>" alt="" class="object-cover w-full h-full">
                </div>
                <div class="bg-white w-full md:w-1/2 h-2/3">
                    <div class="flex justify-between m-5 text-3xl font-semibold text-gray-800">
                        <p><%=singleAudio.title %></p>
                    </div>
                    <p class="mx-4 text-xl text-gray-700">Artise: <span><%=singleAudio.artiste %></span></p>
                    <div class="my-6 border-b-2 border-gray-300"></div>
                    <div class="m-5 mt-10">
                        <audio preload="none" class="selected_audio" controls>
                            <source class="" src="<%=singleAudio.name%>" type="audio/mp3">
                        </audio>
                    </div>
                    <div class="h-32 p-2 bg-gray-200 mx-3 sm:mx-5 md:mx-8 text-sm text-gray-700 space-y-2">
                        <p>Duration: 3:00</p>
                        <p>Year Released: 2022</p>
                        <p><a>Related Links :</a></p>
                    </div>
                    <div class="ml-4">
                      <a id="purchase" download href="" class="cursor-pointer mx-1 md:mx-5 my-3 text-gray-100 font-semibold border-b-2 border-gray-300 rounded inline-flex p-2 bg-blue-800 hover:bg-blue-600 transition duration-200">Download<i class='mx-3 text-xl bx bxs-download'></i></a>
                      <a href="https://paystack.com/pay/mymusic" class="mx-1 md:mx-5 my-3 ml-2 text-gray-100 font-semibold border-b-2 border-gray-300 rounded inline-flex p-2 bg-blue-800 hover:bg-blue-600 transition duration-200">Donate<i class='bx bx-donate-heart text-xl mx-1'></i></a>
                    </div>
                </div>
            </div>
            
              <div id="songs" class="mt-5 mx-28">
                <a class="text-xl text-gray-600">Get more Tunes</a>
              </div>
              <div class="flex justify-center mx-auto w-10/12 bg-gray-300 h-0.5 shadow-sm"></div>
              <div class="my-10 mx-1 md:mx-16 lg:mx-32 ">
                <% audioList.forEach((item)=>{ %>
                <div class="mt-3 bg-blue-800 flex flex-wrap my-5 h-auto md:h-auto px-2 hover:shadow-md hover:scale-105 transition-all duration-500 rounded-md">
                  <div>
                    <a href="/selected?id=<%=item._id%>" class="thumbnail text-center mt-1.5 hover:scale-105 hover:w-8">
                      <img src="<%=item.thumbnail %>" class=" text-center mt-2 mb-2 h-20 object-cover">
                    </a>
                  </div>
                  <div class="mt-auto mx-3 ">
                    <a href="/selected?id=<%=item._id%>">
                      <p class="text-gray-200 font-semibold">Title: <%=item.title%></p>
                      <p class="text-gray-200 font-semibold">artiste:<span class="text-gray-200"><%=item.artiste%></span></p>
                    </a>
                  </div>
                  <div class="audio-box mt-auto mb-3">
                    <a href="/selected?id=<%=item._id%>" class="">
                      <audio preload="none" class="mt-3" controls>
                        <source class="" src="<%=item.name%>" type="audio/mp3">
                      </audio>
                    </a>
                  </div>
                  <div class="ml-auto mt-auto mr-2">
                    <a download href="" class="text-gray-200 text-lg font-bold mx-2 hover:underline text-center">Download<i class='mx-3 text-xl bx bxs-download'></i></a>
                  </div>              
                </div>
                <% }) %>
              </div>


              <div id="books" class="mt-4 mx-5 md:mx-16 lg:mx-28">
                <a class="text-xl text-gray-600">Check out Helpful Books</a>
              </div>
              <div class="flex justify-center mx-auto w-10/12 bg-gray-300 h-0.5 shadow-sm"></div>
    
              <div class="flex flex-wrap">
                <% pdfList.forEach((item)=>{ %>
                <div class="w-full lg:w-1/3 sm:w-1/2 border-2 border-gray-200 mx-5 sm:mx-16 h-96 md:h-96 m-5 hover:border-gray-600 transition duration-150 ease-in-out book-grid book-grid">
                  <div class="h-full space-y-2">
                    <div>
                      <a href="/books/<%=item._id%>" class="h-2/3 object-cover">
                        <div class="h-2/3 object-cover" style="background-image: url('<%=item.thumbnail%>'); background-size: cover; background-position: center;">
                        </div>
                      </a>
                    </div>
                    <div class="mx-2">
                      <p class=" font-bold text-xl text-gray-800"><%=item.title%></p>
                      <p class="text-gray-800"><%=item.snippet.substring(0,50)+" ..."%></p>
                      <a href="/books/<%=item._id%>"><button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Read more</button></a>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            </section>

    </div>
</body>

<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</html>